.homeContainer {
  align-items: center;
  margin-top: 200px;
}

.homeTitle {
  font-size: 45px;
  font-weight: bold;
  margin: 20px 0;
}

.homeInfo {
  font-size: 36px;
  margin: 8px 0;
  color: #555;
}
